{{extend 'layout.html'}}
<h1>
    <div align="center">
        What Should I Study?
    </div>
</h1>
<h3>
    <div align="center">
        {{form.element('input[name=term]')['_style'] = 'width:40%;height:40px;'}}
        {{=form}}
    </div>
</h3>

{{if display_button:}}
<div align="center">
    {{=BUTTON_TO(T('What users with similar interests searched for'), URL('recommended'))}}
</div>
{{pass}}
<br><br>

{{if display_text:}}
<h4>
    Your search - <strong>{{=search_term}}</strong> - did not match any documents.
    <br>
    <br>
    Suggestions:
    <br>
    <br>
    <li>
        Make sure that all words are spelled correctly.
    </li>
    <li>
        Try different keywords.
    </li>
    <li>
        Try more general keywords.
    </li>
</h4>
{{pass}}

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-6k2t{background-color:#D2E4FC;vertical-align:top}
.left{float:left;}
.right{float:right;}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>

{{for i, row in enumerate(rows_to_display):}}
{{if i == items_per_page:}}
{{break}}
<div class="tg-wrap"><table class="tg" width="100%">
  <tr>
    <th class="tg-031e"><strong>Course Title: </strong>{{=row.course_title}}</th>
    <th class="tg-yw4l"><strong>Cost Of Course: </strong>{{=row.cost_of_course}}</th>
  </tr>
  <tr>
    <td class="tg-6k2t" colspan="2"><strong>Course Description: </strong>{{=row.course_description}}</td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="2"><strong>Course Duration: </strong>{{=row.course_duration}}</td>
  </tr>
  <tr>
    <td class="tg-6k2t" colspan="2"><strong>Admission Requirements: </strong>{{=row.admission_requirements}}</td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="2"><strong>Institution: </strong>{{=row.institution}}</td>
  </tr>
  <tr>
    <td class="tg-6k2t" colspan="2"><strong>Campus: </strong>{{=row.campus}}</td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="2"><h4>{{=A('More Information', _href=URL('rate', args=row.id, vars=dict(search_term=search_term)))}}</h4></td>
  </tr>
</table></div>
<br>
{{pass}}

{{if page > 1:}}
<span class="left">
    <h3>
        {{=A('Previous', _href=URL('index', args = [page - 1], vars = dict(search_term = search_term)))}}
    </h3>
</span>
{{pass}}

{{if len(rows_to_display) > items_per_page:}}
<span class="right">
    <h3>
        {{=A('Next', _href=URL('index', args = [page + 1], vars = dict(search_term = search_term)))}}
    </h3>
</span>
{{pass}}
