{{extend 'layout.html'}}
<h2>Edit user information</h2>
<div align="left">
{{=form}}
<h5 style="color:grey">
_______________________________________________
</h5>
<h4 style="color:green"><strong>User Membership</strong></h4>
{{=membership_panel}}
</div>
