{{extend 'layout.html'}}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-6k2t{background-color:#D2E4FC;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>

<div align="left">
{{if not s:}}
     {{response.menu = [(T('Home'), False, URL('default', 'index'), [])]}}
<h4>
    <ul><li>There are currently no searches by users with similar interests. </li><br><br><li>You may have been the first user to search for <strong>{{=ct}}</strong>.</li></ul><br>
</h4>
{{else:}}
    <h3>Searches by users with similar interests</h3>
    <h6>You searched for <strong>{{=ct}}</strong>, other users that searched for <strong>{{=ct}}</strong> also searched for the courses below:</h6></div>
{{for it in s:}}
<div align="left" class="tg-wrap"><table class="tg" width="40%">
  <tr>
      <td class="tg-6k2t" colspan="2"><strong>{{=A(it.course_title, _href=URL("final", vars=dict(loc=it.file_location)))}}</strong></td>
      <td align="right">
          {{if auth.user:}}
          {{id1 = it.id}}
          {{=BUTTON_TO(T('Email this to me'), URL("sendmailauth", args=id1))}}
          {{else:}}
          {{id2 = it.id}}
          {{course = it.course_title}}
          {{=BUTTON_TO(T('Email this to me'), URL("sendmail", args=id2, vars=dict(course=course)))}}
          {{pass}}
      </td>
  <tr>
    <!--<td class="tg-yw4l" colspan="2">Campus: {{=it.campus}}<br>Fees: {{=it.cost_of_course}}<br>
        Admission Requirements: {{=it.admission_requirements}}</td>-->
    </tr></tr>
</table>
</div>
      <br>
{{pass}}
{{pass}}
