{{extend 'layout.html'}}
<div style="color:green">
    <h1><strong>WSIS Central Administration</strong></h1>
    <h2>{{=BUTTON_TO(T('Manage Users'), URL("list_users"))}}</h2>
    <h2>{{=BUTTON_TO(T('Institutions Uploads'), URL("list_uploads"))}}</h2>
</div><br><br><br>
________________________________________________
<div align="left">
    {{if j:}}
    {{for i in j:}}
    <h6 style="color:red"><ul align="left">{{=BUTTON_TO(i.first_name, URL("manage_user", args=i.id))}} from {{=i.institution_name}} has requested for institution access </ul></h6>
    {{pass}}{{pass}}
</div>
